@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.issk-fixed-modal {
    direction: ltr;
    all: initial;
    font-family: inherit;
    position: fixed;
    z-index: 99999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0404044a;
}

.issk-fixed-modal .issk-popup {
    position: static;
}

.issk-container {
    margin-bottom: 0.5rem;
}

.issk-popup {
    direction: ltr;
    position: fixed;
    right: 16px;
    bottom: 16px;
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-sizing: border-box;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .18);
    border-radius: 5px;
    user-select: none;
    border: 1px solid #059a4a;
    z-index: 99999;
    animation: shake 0.7s cubic-bezier(.36, .07, .19, .97) both;
}

.issk-popup .steps {
    all: initial;
    font-family: inherit;
    line-height: 1.25;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}

.issk-popup .steps .no-step {
    margin-bottom: 8px;
    font-size: 14px;
    opacity: 0.6;
}

.issk-popup .steps .step {
    all: initial;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 8px;
    margin-bottom: 8px;
    text-align: left;
    font-family: inherit;
}

.issk-popup .steps .step-text {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    white-space: nowrap;
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0.1rem;
    border: 1px solid transparent;
}

.issk-popup .steps .step-text:focus {
    border-color: #ddd;
    outline: none;
    background-color: #fff;
    border-radius: 3px;
}

.issk-popup .steps .step-sub {
    display: inline-block;
    font-size: 14px;
    opacity: 0.6;
    padding-left: 0.1rem;
}

.issk-popup .keys-container {
    margin-bottom: 8px;
}

.issk-popup .keys-container pre {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
    background: #e5e5e5;
    padding: 5px;
}

.issk-popup #shortkey-title-input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.issk .issk-popup-msg {
    all: initial;
    font-family: inherit;
    line-height: 1.5;
    display: inline-block;
    font-size: 14px;
    border-left: 3px solid #de0606;
    padding-left: 8px;
    opacity: 0.8;
    background: #eaeaea;
}

.issk .issk-popup-msg.info {
    border-color: #0066ff;
    list-style: none;
}

.issk .issk-popup-msg code {
    color: #000;
    font-weight: bold;
}

.issk .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.issk .label {
    all: initial;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    display: inline-block;
    opacity: 0.7;
    margin-bottom: 5px;
    border-bottom: 1px solid #888;
    padding-bottom: 2px;
    padding-right: 16px;
    color: #555;
}