.page {
    display: none;
}

.page.open {
    display: block;
}

#list-page #open-options {
    position: absolute;
    right: 0.25rem;
    top: -0.2rem;
}

#list-page #hosts {
    list-style: none;
    padding: 0;
}

#list-page #hosts .host-item {
    background-color: rgba(255, 255, 255, 0.07);
    padding: .5rem .5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    border: 2px solid #ffffff14;
    border-radius: 5px;
}

#list-page #hosts .host-item .host-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#list-page #hosts .host-item:hover {
    background-color: rgba(255, 255, 255, 0.18);
}


#host-page #close-host-page {
    position: absolute;
    right: 0.25rem;
    top: -0.2rem;
}

#host-page #shortkeys {
    list-style: none;
    padding: 0;
}

#host-page #shortkeys .shortkey-item {
    border-radius: 5px;
    padding: 0.5rem;
    background: #ffffff1a;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#host-page #shortkeys .shortkey-item .sk-detail {
    display: inline-flex;
    flex-direction: column;
}

#host-page #shortkeys .shortkey-item .sk-name {
    display: inline-block;
    margin-bottom: 0.25rem;
}

#host-page #shortkeys .shortkey-item .sk-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1;
    color: var(--color-text-dark);
}

#host-page #shortkeys .shortkey-item .sk-keys {
    opacity: 0.7;
    margin-right: 1rem;
}

#host-page #shortkeys .shortkey-item .sk-type {
    opacity: 0.7;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1rem;
    min-width: 46px;
    letter-spacing: 1px;
    color: var(--color-success-light);
}

#host-page #shortkeys .shortkey-item .sk-step {
    opacity: 0.7;
    font-size: 13px;
    display: inline-block;
    margin-right: 1rem;
    letter-spacing: 1px;
}
