.page {
    display: none;
}

.page.open {
    display: block;
}

#list-page #open-options {
    position: absolute;
    right: 0.25rem;
    top: -0.2rem;
}

#list-page #hosts {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

#list-page #hosts .host-item {
    position: relative;
    background-color: rgba(255, 255, 255, 0.07);
    padding: .5rem .5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    border: 2px solid #ffffff14;
    border-radius: 5px;
}

#list-page #hosts .host-item.shared {
    margin-top: 1rem;
    border-left-color: green;
    border-left-width: 3px;
    order: 999;
}

#list-page #hosts .host-item .host-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#list-page #hosts .host-item:hover {
    background-color: rgba(255, 255, 255, 0.18);
}

#list-page .host-item .item-actions {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    min-width: 110px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #3d536e;
    padding: 0 8px;
}

#list-page .host-item:hover .item-actions {
    opacity: 1;
    visibility: visible;
}


#host-page #close-host-page {
    position: absolute;
    right: 0.25rem;
    top: -0.2rem;
}

#host-page #shortcuts {
    list-style: none;
    padding: 0;
}

#host-page #shortcuts .shortcut-item {
    border-radius: 5px;
    padding: 0.5rem;
    background: #ffffff1a;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#host-page #shortcuts .shortcut-item .sk-detail {
    display: inline-flex;
    flex-direction: column;
}

#host-page #shortcuts .shortcut-item .sk-name {
    display: inline-block;
    margin-bottom: 0.25rem;
}

#host-page #shortcuts .shortcut-item .sk-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1;
    color: var(--issk-color-text-dark);
}

#host-page #shortcuts .shortcut-item .sk-keys {
    opacity: 0.7;
    margin-right: 1rem;
}

#host-page #shortcuts .shortcut-item .sk-type {
    opacity: 0.7;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1rem;
    min-width: 46px;
    letter-spacing: 1px;
    color: var(--issk-color-success-light);
}

#host-page #shortcuts .shortcut-item .sk-step {
    opacity: 0.7;
    font-size: 13px;
    display: inline-block;
    margin-right: 1rem;
    letter-spacing: 1px;
}
