* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif !important;
}

body {
    margin: 0 auto;
    max-width: 768px;
    font-size: 16px;
    color: #d5d5d5;
    cursor: default;
    background: #08203e;
    user-select: none;
    overflow-y: scroll;
}

body a {
    color: #d5d5d5;
}

body a:hover {
    color: #fff;
}

#options-page {
    padding: 2rem 1rem;
}

#options-page .brand {
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 1rem;
}

#options-page .section {
    position: relative;
    padding-left: 20px;
    padding-bottom: 4px;
    margin-bottom: 2rem;
    overflow: hidden;
    transition: all 0.4s linear;
    max-height: 28px;
    height: auto;
}

#options-page .section:last-child {
    border-bottom: none;
}

#options-page .section.open {
    max-height: 1000px;
    transition: all 0.4s linear;
}

#options-page .section:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 28px;
    height: calc(100% - 25px);
    background: transparent;
    border-left: 2px solid #ffffff2e;
}

#options-page .section-title {
    position: relative;
    margin-bottom: 1rem;
    margin-left: -20px;
    font-weight: bold;
    cursor: pointer;
    background: #0f2a4c;
    padding: 0.25rem;
}

#options-page .section-title:hover{
    background: #13355f;
}

#options-page .section-title:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    border-top: 8px solid;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transition: all 0.2s linear;
}

#options-page .section.open .section-title:after {
    transform: rotate(-180deg);
}

#options-page .section-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#options-page .section-item small {
    font-size: 14px;
    opacity: 0.5;
    font-weight: lighter;
    display: inline-block;
    margin-bottom: 0.25rem;
}

#options-page label {
    margin-bottom: 0.4rem;
    display: inline-block;
}

#options-page input[type="number"],
#options-page input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 150px;
}

#options-page .import-export-actions {
    margin-top: 0.5rem;
}

#options-page .import-export-actions .import-input {
    display: inline-block;
}

#options-page .waiting-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

#options-page .confirm-checkbox {
    display: inline-flex;
    align-items: center;
    margin: 0.5rem 0;
}

#options-page .confirm-checkbox input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

#options-page .confirm-checkbox label {
    opacity: 0.5;
    margin-bottom: 0;
    margin-left: 0.5rem;
}

button {
    all: initial;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    min-width: 50px;
    display: inline-block;
    padding: 5px 16px;
    line-height: 24px;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 6px;
    color: #fff;
    background-color: #059a4a;
    user-select: none;
    appearance: none;
    transition: all 0.2s;
}

button:not(:disabled):hover {
    cursor: pointer;
    background-color: #048440;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button.cancel {
    background: transparent;
    color: #222;
    margin-right: 8px;
}

button.cancel:hover {
    background-color: #0000000f;
}

button.outline {
    background: transparent;
    color: #d5d5d5;
    margin-right: 8px;
    border: 1px solid #d5d5d5;
}

button.outline:hover {
    background-color: #d5d5d526;
}

button.danger {
    background: #dc0505;
}

button.danger:hover {
    background-color: #c10404;
}

.custom-switch {
    display: inline-block;
}

.custom-switch input[type="checkbox"] {
    display: none;
}

.custom-switch label {
    all: initial;
    display: inline-block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 0.25rem;
    color: #d5d5d5;
    font-size: 16px;
    font-weight: 500;
}

.custom-switch input[type="checkbox"] + label::before {
    content: " ";
    display: block;
    height: 20px;
    width: 42px;
    border-radius: 9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #e2e2e2;
}

.custom-switch input[type="checkbox"] + label::after {
    content: " ";
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    background: #e82a2a;
    transition: all 0.2s ease-in-out;
}

.custom-switch input[type="checkbox"]:checked + label::after {
    transform: translateY(-50%) translateX(22px);
    transition: all 0.2s ease-in-out;
    background-color: #32c28a;
}

.issk-toast {
    position: fixed;
    left: 16px;
    bottom: 16px;
    width: 280px;
    padding: 8px;
    background-color: #059a4a;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .18);
    user-select: none;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 0.3s, all 0.5s;
}

.issk-toast.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.3s;
}

.issk-toast p {
    font-family: inherit;
    font-size: 16px;
    margin: 0;
}