* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif !important;
}

body.issk {
    margin: 0 auto;
    max-width: 768px;
    font-size: 16px;
    color: #d5d5d5;
    cursor: default;
    background: #08203e;
    user-select: none;
    overflow-y: scroll;
}

body.issk a,
body .issk a {
    color: #d5d5d5;
}

body.issk a:hover,
body .issk a:hover {
    color: #fff;
}

.issk .page {
    padding: 2rem 1rem;
}

.issk .page .page-head {
    position: relative;
}

.issk .page .brand {
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 1rem;
}

.issk small {
    font-size: 14px;
    opacity: 0.5;
    font-weight: lighter;
    display: inline-block;
    margin-bottom: 0.25rem;
}

.issk label {
    margin-bottom: 0.4rem;
    display: inline-block;
}

.issk input[type="search"],
.issk input[type="number"],
.issk input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 150px;
}

.issk button {
    all: initial;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    min-width: 50px;
    display: inline-block;
    padding: 5px 16px;
    line-height: 24px;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 6px;
    color: #fff;
    background-color: #059a4a;
    user-select: none;
    appearance: none;
    transition: all 0.2s;
    border: 1px solid transparent;
}

.issk button:not(:disabled):hover {
    cursor: pointer;
    background-color: #048440;
}

.issk button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.issk button.cancel {
    background: transparent;
    color: #222;
    margin-right: 8px;
}

.issk button.cancel:hover {
    background-color: #0000000f;
}

.issk button.outline {
    background: transparent;
    color: #d5d5d5;
    border: 1px solid #d5d5d5;
}

.issk button.outline:hover {
    background-color: #d5d5d526;
}

.issk button.danger {
    background: #dc0505;
}

.issk button.danger:hover {
    background-color: #c10404;
}

.issk button.small {
    padding: .2rem .4rem;
    font-size: 14px;
    line-height: 18px;
}

.issk .custom-switch {
    display: inline-block;
}

.issk .custom-switch input[type="checkbox"] {
    display: none;
}

.issk .custom-switch label {
    all: initial;
    display: inline-block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 0.25rem;
    color: #d5d5d5;
    font-size: 16px;
    font-weight: 500;
}

.issk .custom-switch input[type="checkbox"] + label::before {
    content: " ";
    display: block;
    height: 20px;
    width: 42px;
    border-radius: 9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #e2e2e2;
}

.issk .custom-switch input[type="checkbox"] + label::after {
    content: " ";
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    background: #e82a2a;
    transition: all 0.2s ease-in-out;
}

.issk .custom-switch input[type="checkbox"]:checked + label::after {
    transform: translateY(-50%) translateX(22px);
    transition: all 0.2s ease-in-out;
    background-color: #32c28a;
}

.issk-toast {
    position: fixed;
    left: 16px;
    bottom: 16px;
    width: 280px;
    padding: 8px;
    background-color: #059a4a;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .18);
    user-select: none;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 0.3s, all 0.5s;
}

.issk-toast.error {
    background-color: #dc0505;
}

.issk-toast.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.3s;
}

.issk-toast p {
    font-family: inherit;
    font-size: 16px;
    margin: 0;
}

.issk-pre {
    padding: 0;
    border: none;
    background: no-repeat;
    color: inherit;
    margin: 0;
    display: block;
}