body {
    --issk-color-main: #122d4e;
    --issk-color-main-light: #13355f;
    --issk-color-main-dark: #0d2440;
    --issk-color-text: #d5d5d5;
    --issk-color-text-light: #fff;
    --issk-color-text-dark: #afafaf;
    --issk-color-success: #059a4a;
    --issk-color-success-light: #02ba02;
    --issk-color-success-dark: #048440;
    --issk-color-danger: #dc0505;
    --issk-color-danger-dark: #c10404;
    --issk-color-info: #0066ff;
}

.issk *:not(pre):not(code) {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif !important;
}

body.issk {
    margin: 0 auto;
    max-width: 768px;
    font-size: 16px;
    color: var(--issk-color-text);
    cursor: default;
    background: var(--issk-color-main);
    user-select: none;
    overflow-y: scroll;
}

body.issk a,
body .issk a {
    color: var(--issk-color-text);
}

.issk a:hover {
    color: var(--issk-color-text-light);
}

.issk .page {
    padding: 2rem 1rem;
}

.issk .page .page-head {
    position: relative;
}

.issk .page .brand {
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 1rem;
}

.issk small {
    all: inherit;
    font-size: 14px;
    opacity: 0.5;
    font-weight: lighter;
    display: inline-block;
    margin-bottom: 0.25rem;
    color: var(--issk-color-text);
}

.issk label {
    margin-bottom: 0.4rem;
    display: inline-block;
}

.issk textarea,
.issk input[type="search"],
.issk input[type="number"],
.issk input[type="text"] {
    display: block;
    box-sizing: border-box;
    padding: 0.5rem;
    background: #84848461;
    border: none;
    border-radius: 5px;
    color: var(--issk-color-text);
    max-width: 100%;
}

.issk textarea::placeholder,
.issk input::placeholder {
    color: var(--issk-color-text-dark);
}

.issk textarea:focus,
.issk input[type="search"]:focus,
.issk input[type="number"]:focus,
.issk input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #ffffff94;
    color: var(--issk-color-text-light);
}

.issk button {
    all: initial;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    min-width: 50px;
    display: inline-block;
    padding: 5px 16px;
    line-height: 24px;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 6px;
    color: var(--issk-color-text-light);
    background-color: var(--issk-color-success);
    user-select: none;
    appearance: none;
    transition: all 0.2s;
    border: 1px solid transparent;
}

.issk button:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--issk-color-success-dark);
}

.issk button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.issk button.cancel {
    background: transparent;
    color: var(--issk-color-text);
    margin-right: 8px;
}

.issk button.cancel:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.issk button.outline {
    background: transparent;
    color: var(--issk-color-text);
    border: 1px solid var(--issk-color-text);
}

.issk button.outline:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.issk button.danger {
    background: var(--issk-color-danger);
}

.issk button.danger:hover {
    background-color: var(--issk-color-danger-dark);
}

.issk button.small {
    padding: .2rem .4rem;
    font-size: 14px;
    line-height: 18px;
}

.issk .custom-switch {
    display: inline-block;
}

.issk .custom-switch input[type="checkbox"] {
    display: none;
}

.issk .custom-switch label {
    all: initial;
    position: relative;
    display: inline-block;
    padding-left: 50px;
    margin-bottom: 0.25rem;
    color: var(--issk-color-text);
    font-size: 16px;
    font-weight: 500;
}

.issk .custom-switch input[type="checkbox"] + label::before {
    content: " ";
    display: block;
    height: 20px;
    width: 42px;
    border-radius: 9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #e2e2e2;
}

.issk .custom-switch input[type="checkbox"] + label::after {
    content: " ";
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    background: var(--issk-color-danger);
    transition: all 0.2s ease-in-out;
}

.issk .custom-switch input[type="checkbox"]:checked + label::after {
    transform: translateY(-50%) translateX(22px);
    transition: all 0.2s ease-in-out;
    background-color: var(--issk-color-success-light);
}


.issk .custom-switch.small {
    display: flex;
    justify-content: center;
    align-items: center;
}

.issk .custom-switch.small input[type="checkbox"] {
    display: none;
}

.issk .custom-switch.small label {
    padding-left: 40px;
    font-size: 14px;
    font-weight: 500;
}

.issk .custom-switch.small input[type="checkbox"] + label::before {
    height: 16px;
    width: 32px;
}

.issk .custom-switch.small input[type="checkbox"] + label::after {
    height: 12px;
    width: 12px;
}

.issk .custom-switch.small input[type="checkbox"]:checked + label::after {
    transform: translateY(-50%) translateX(16px);
}

.issk-toast {
    position: fixed;
    left: 16px;
    bottom: 16px;
    width: 280px;
    padding: 8px;
    background-color: var(--issk-color-success);
    color: var(--issk-color-text-light);
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .18);
    user-select: none;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 0.3s, all 0.5s;
}

.issk-toast.error {
    background-color: var(--issk-color-danger);
}

.issk-toast.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.3s;
}

.issk-toast .issk-container {
    margin-bottom: 0;
}

.issk-toast p {
    font-family: inherit;
    font-size: 16px;
    margin: 0;
}

.issk-pre {
    padding: 0;
    border: none;
    background: no-repeat;
    color: inherit;
    margin: 0;
    display: block;
}