body.issk {
    font-size: 16px;
    margin: 0;
    width: 320px;
    overflow: hidden;
    cursor: default;
    user-select: none;
}

.popup {
    position: relative;
    padding: 40px 16px 16px;
}

.popup a {
    cursor: pointer;
}

.popup .header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: var(--issk-color-text-dark);
}

.popup .header .brand {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: var(--issk-color-text-light);
    font-size: 14px;
}

.popup .header .brand img {
    position: absolute;
    left: 0;
    width: 24px;
    margin-right: 0.25rem;
    border-radius: 3px;
}

.popup .header .options {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.popup .header .options:hover {
    font-weight: 500;
}

.popup .quick-options {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 16px 0;
    border-top: 1px solid #797979;
}

.popup .quick-options > *:not(:last-child) {
    margin-bottom: 8px;
}

.popup .in-site-info p {
    all: initial;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    display: block;
    font-size: 14px;
    margin: 8px 0;
}

.issk .popup button {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 5px 16px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.issk button.add-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#add-click-shortcut {
    margin-bottom: 0.5rem;
}

.issk .add-btn svg {
    position: absolute;
    left: 0px;
    margin-left: 1rem;
}

#stats {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#stats a.view-shortcuts {
    color: var(--issk-color-text);
    font-size: 14px;
}

.popup .not-allowed {
    all: initial;
    font-size: 14px;
    color: var(--issk-color-text);
    margin: 0.5rem 0 0;
}


.popup .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 0.5rem;
}

.popup .footer a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.popup .footer a svg {
    margin-right: 0.2rem;
}
